body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42
}

/* Header alanı */

.logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2E2F42;
    text-decoration: none;
    line-height: 1.16;
}

.nav-list {
    background-color: #FFFFFF;
}

.logo span {
    color: #4D5AE5;
}

.Studio {
    color: #2E2F42;
    font-size: 16px;
    text-decoration: none;
    font-weight: medium;
    line-height: 1.5;
}

.Studio:hover {
    color: #404BBF;
    font-size: 16px;
    text-decoration: none;
    font-weight: medium;
    line-height: 1.5;
}

.Studio:active {
    color: #404BBF;
    font-size: 16px;
    text-decoration: none;
    font-weight: medium;
    line-height: 1.5;
}

.Portfolio{
    color: #2E2F42;
    font-size: 16px;
    text-decoration: none;
    font-weight: medium;
    line-height: 1.5;
}

.Portfolio:hover {
    color: #404BBF;
    font-size: 16px;
    text-decoration: none;
    font-weight: medium;
    line-height: 1.5;
}

.Contacts {
    color: #2E2F42;
    font-size: 16px;
    text-decoration: none;
    font-weight: medium;
    line-height: 1.5;
}

.Contacts:hover {
    color: #404BBF;
    font-size: 16px;
    text-decoration: none;
    font-weight: medium;
    line-height: 1.5;
}

.adress {
    color: #434455;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;

}

.adress:hover {
    color: #404BBF;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
}

/* Header alanı bitiş */

/*Main başlangıç */

.post-tittle {
    font-size: 56px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2%;
    color: #FFFFFF;
    font-weight: bold;
}

.post {
    background-color: #2E2F42;
    text-align: center;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    text-align: center ;
    line-height: 1.5;
    letter-spacing: 4%;
    cursor: pointer;
    font-weight: medium;
    padding: 32px 16px;
}

.button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 4%;
    cursor: pointer;
    font-weight: medium;
    padding: 32px 16px;
}

.p{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

.Strategy {
    font-size: 20px;
    font-weight: medium;
    color: #2E2F42;
    line-height: 1.2;
}

.punctuality {
    font-size: 20px;
    font-weight: medium;
    color: #2E2F42;
    line-height: 1.2;
}

.diligence {
    font-size: 20px;
    font-weight: medium;
    color: #2E2F42;
    line-height: 1.2;
}

.technologies {
    font-size: 20px;
    font-weight: medium;
    color: #2E2F42;
    line-height: 1.2;
}

.team {
    background-color: #F4F4FD
}

.our-team {
    font-size: 36px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 2%;
    color: #2E2F42;
    font-weight: bold;
}

.mark-guerrero {
    font-size: 20px;
    font-weight: medium;
    color: #2E2F42;
    line-height: 1.2;
}

.tom-ford {
    font-size: 20px;
    font-weight: medium;
    color: #2E2F42;
    line-height: 1.2;
}

.camila-garcia {
    font-size: 20px;
    font-weight: medium;
    color: #2E2F42;
    line-height: 1.2;
}

.daniel-wilson {
    font-size: 20px;
    font-weight: medium;
    color: #2E2F42;
    line-height: 1.2;
}

.p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

.our-portfolio {
    font-size: 36px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 2%;
    color: #2E2F42;
    font-weight: bold;
}

.h3 {
    font-size: 20px;
    font-weight: medium;
    color: #2E2F42;
    line-height: 1.2;
}

.p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

/*Main bitiş */

/* Footer başlangıç */

.footer-logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #F4F4FD;
    text-decoration: none;
    line-height: 1.16;
}

.nav-list {
    background-color: #FFFFFF;
}

.footer-logo span {
    color: #4D5AE5;
}

.footer-p {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background-color: #2E2F42
}

/* Footer bitiş */